@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /* PRIMARY COLORS */
    --BLACK-50: #e7e7e7;
    --BLACK-100:#b3b4b5;
    --BLACK-200:#8f8f91;
    --BLACK-300:#5c5c5e;
    --BLACK-400:#3c3d3f;
    --BLACK-500:#0b0c0f;
    --BLACK-600:#0a0b0e; 
    --BLACK-700:#08090b;
    --BLACK-800:#060708;
    --BLACK-900: #050506;
    
    /* SECONDARY COLORS */
    --S-LIGHT: #FFF;
    --S-LIGHT-HOVER : #FFF;
    --S-LIGHT-ACTIVE: #FFF;
    --S-NORMAL: #FFF;
    --S-NORMAL-HOVER: #E6E6E6;
    --S-NORMAL-ACTIVE: #CCC;
    --S-DARK: #BFBFBF;
    --S-DARK-HOVER: #999;
    --S-DARK-ACTIVE: #737373;
    --S-DARKER: #595959;

    
    /* ACCENT COLORS */
    --A-LIGHT: #E7F4FD;
    --A-LIGHT-HOVER : #DBEEFC;
    --A-LIGHT-ACTIVE: #B4DBF8;
    --A-NORMAL: #0C8CE9;
    --A-NORMAL-HOVER: #0B7ED2;
    --A-NORMAL-ACTIVE: #0A70BA;
    --A-DARK: #0969AF;
    --A-DARK-HOVER: #07548C;
    --A-DARK-ACTIVE: #053F69;
    --A-DARKER: #043152;

    /* ERROR COLORS */
    --E-LIGHT: #F9ECE8;
    --E-LIGHT-HOVER : #F7E2DD;
    --E-LIGHT-ACTIVE: #EEC3B9;
    --E-NORMAL: #C73F1D;
    --E-NORMAL-HOVER: #B3391A;
    --E-NORMAL-ACTIVE: #9F3217;
    --E-DARK: #952F16;
    --E-DARK-HOVER: #772611;
    --E-DARK-ACTIVE: #5A1C0D;
    --E-DARKER: #46160A;

    /* SUCCESS COLORS */
    --SS-LIGHT: #EDF8EC;
    --SS-LIGHT-HOVER : #E4F4E3;
    --SS-LIGHT-ACTIVE: #C7E8C5;
    --SS-NORMAL: #4BB543;
    --SS-NORMAL-HOVER: #44A33C;
    --SS-NORMAL-ACTIVE: #3C9136;
    --SS-DARK: #388832;
    --SS-DARK-HOVER: #2D6D28;
    --SS-DARK-ACTIVE: #22511E;
    --SS-DARKER: #1E3F17;

    /* WARNING COLORS */
    --W-LIGHT: #FFFAE6;
    --W-LIGHT-HOVER : #FFF7D9;
    --W-LIGHT-ACTIVE: #FFEFB0;
    --W-NORMAL: #FFCC00;
    --W-NORMAL-HOVER: #E6B800;
    --W-NORMAL-ACTIVE: #CCA300;
    --W-DARK: #BF9900;
    --W-DARK-HOVER: #997A00;
    --W-DARK-ACTIVE: #735C00;
    --W-DARKER: #594700;

}
body {
    background-color: #0B0C0F;
}
/* navbar */
header {
    height: 80px;
    width: 100%;
    background-color: var(--BLACK-500);
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 75px;
    margin-bottom: 100px;
}
.sign {
    display: flex;
    gap: 30px;
}
 .sign button {
    width: 183px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
 }
 .sign .signup {
    background-color: var(--BLACK-500);
    color: var(--A-LIGHT);
 }
 .sign .signin {
    background-color: var(--A-NORMAL);
    border: none;
    color: #FFF;
 }
 /* MAIN */

.subscription { 
    background: #0B0C0F;
    width: 1000px;
    height: 100hv;
    color: #fff;
    margin: auto;
}

.complete{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.num {
	display: flex;
	justify-content: center;
	align-items: center;
}

.num svg {
  margin-right: 10px;
}

.num p, .num img {
	width: 30px;
	height: 30px;
	color: #ccc4c8;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Raleway" sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 12px;
	padding: 1px 9px;
	cursor: pointer;
}

.num p.num-2, .num img {
	background-color: var(--A-DARK);
	color: var(--BLACK-500);
	font-weight: bold;
	border: none;
}

.num-cicle{ 
  width: 23px;
  text-align: center;
  border-radius: 60%;
  border: 2px solid var(--A-DARK);
  margin: 12px;
  padding: 4px 
}

.num-2 {
 background-color: var(--A-DARK);
 color: var(--BLACK-600);
 font-weight: bold;
 border: 1px solid var(--A-DARK);
 width: 5px;
 text-align: center;
 font-family: 'Raleway' sans-serif;
 font-size: 13px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 border-radius: 50%;
 margin: 12px;
 padding: 1px 9px;
}


.num .line{
  width: 136px;
  border: 1px solid #fff;
}

.body-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.frame { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame-2 { 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    padding-bottom: 30px;
    margin-top: 30px;
    gap: 3;
}

.icon-text { 
    font-size: 13px;
    font-style: normal;
    font-weight: 200px;
    font-family: 'Raleway', sans-serif;

}

.image-icon {
    padding:0 6px 0 0;
    display: inline-flex;
}

.paragraph-content{ 
    padding: 2px 2px;
    font-size: 15px;
    font-weight: 100px;
    max-width: 850px;
    text-align: center;
    margin-bottom: 2px;
    font-family: 'Raleway', sans-serif;


}

.frame-content { 
    color: #FFF;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}

table{ 
    border-collapse: collapse;
    border-spacing: 100px;
    margin-top: 1px;
    font-size: 14px;
    font-weight: 200px             ;
}

.popular-span { 
    display: inline-flex;
    padding: 6px 10px;
    align-items: flex-start;
    gap: 1px;
    border-radius: 2px;
    background: #0C8CE9;
    font-size: 10px;
}

th{ 
    background: #151516;
    text-align: center;
    font-family: 'Libre Baskerville', serif;

}

.text {
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;

}

th, td { 
    border: 1px solid #262626;
    max-width: 240px;
    text-align: center;
    padding: 20px;
    border-left: 1px solid #262626;
    font-family: 'Libre Baskerville', serif;

} 

.text-container{ 
    color: #F1F1F1;
    text-align: start;
    width: 85%;
    font-size: 15px;
    font-weight: 100;
    margin: 20px;
    font-family: 'Raleway', sans-serif;

}

.card-container { 
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

#card { 
    border-radius: 5px;
    border: 1px solid  #262626;
    background: #1A1A1A;
    display: flex;
    padding: 20px;
    width: 300px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card, .content { 
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

.price{ 
    text-align: center;
    padding-top: 15px;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 2px;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
h6 { 
    font-size: 10px;
    font-weight: 100;
    color: #999;
    display: inline-block;
    padding: 6px 6px 6px 0;
}

.card-header {
     padding: 10px;
     text-align: center;
     font-family: 'Libre Baskerville', serif;

}
.btn { 
    padding: 3px;
    margin: 10px;
    border-radius: 4px;
    background: #0C8CE9;
    display: flex;
    width: 196px;
    color: #F1F1F1;
    height: 30px;
    justify-content: center;
    border: none;
    align-items: center;
    font-family: 'Raleway', sans-serif;

}
.btn:hover{ 
    color: #262626;
    transition: 0.7s;
}
footer {
    height: 387px;
    background-color: var(--BLACK-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: white;
  }
  
  footer .footer-container1 {
    display: flex;
    gap: 1rem;
  }
  footer .footer-container1 .heading-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  footer .ft{
    padding: 10px 0;
  }
  footer .heading {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
  }
  .foot {
    width: 80%;
  }
  footer .footer-container1 .last{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  footer .footer-container1 .last .socials {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-container2 {
    padding-top: 30px;
    border-top: 1px solid var(--BLACK-300);
    display: flex;
    justify-content: space-between;
  }
  .footer-container2 .bottomleft {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-container2 .bottomleft .items {
    padding: 0px 30px;
  }
  .footer-container2 .bottom {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--A-NORMAL);
  }
  .footer-container2 .bottomleft .two {
    border-right: 1px solid var(--BLACK-300);
    border-left: 1px solid var(--BLACK-300);
  }
  footer a, a:visited , a:hover, a:active  {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--A-NORMAL);
    text-decoration: none;
  }

  @media (max-width: 600px) {
    body{
      max-width: 400px;
      height: 100vh;
      margin: auto;

    }
    header {
      height: 36px;
      width: 100vw;
      padding: 0 20px;
  }
    header img {
      width: 82px;
      height: 15px;
    }
  
  .sign {
    display: flex;
    gap: 15px;
  }
  .sign button {
    width: 75px;
    height: 19px;
    font-size: 10px;
    font-weight: 400;
    box-shadow: none;
    border-radius: none;
  }
  .sign .signup {
    box-shadow: 0px 0px 10px var(--A-NORMAL);
  }
.subscription { 
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
/* Media query for screens with a maximum width of 600 pixels */
.body-container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.card-container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


footer {
  padding: 20px;
  height: 535px;
  gap: 1.5rem;
}
footer img {
  width: 44px;
  height: 44px;
}
footer .footer-container1 {
  width: 100%;
  height: 400px;
  display: grid;
  gap: none;
  grid-template-columns: repeat(2, 1fr);
}
footer .heading  h2{
  font-size: 16px;
  line-height: 24px;
}
footer .ft{
  padding: 5px;
}
/*last*/

footer .footer-container1 .last{
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container2 {
  display: flex;
  width: 100%;
  height: 82px;
  flex-direction: column;
  padding: 10px;
  justify-content: unset;
}

.footer-container2 .bottomleft .items {
  padding: 0px 10px;
}
.footer-container2 .bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 20px;
}

footer a, a:visited , a:hover, a:active  {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

  }
