* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(11, 12, 15, 255); 
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}
nav{
    padding-left: 80px;
}
.container { 
   margin:30px 80px;

}
#general-box{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid hwb(0 50% 50%);
   padding-left: 40px;
   position: relative;

}
#Customise-box{
    margin-top: 30px;
    margin-bottom: 30px;
}
.second-box{
    right: 40px;
    position: absolute;
    top: 0;
    margin-top: 107px; 
}
.header{
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;

}
span{
    font-family: sans-serif;
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}


button{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(12, 140, 233,255);
    color: white;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    

}

.selector select{
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    height: 40px;
    width: 400px;
    border-radius: 2px;
    padding: 10px;
    font-size: 13px;
     font-weight: 400;
     appearance: none; 
     cursor: pointer;
     font-family: 'overpass', sans-serif;
}
.selector{
    position: relative;
}
option{
    background-color:rgba(11, 12, 15, 255);
    line-height: 20px;
    font-size: 16px;
}


.selector::after{
    content: '\25BC' ;
    position: relative;
    color: white;
    top: 50%;
    right: 40px;
    transform: translateY(-50);
    cursor: pointer;
    pointer-events: none;
    
}
.selector:hover::after{
    color: grey;
}

.all-option{
   display: none;
}
footer{
    background-color: rgba(5,5,6,255) ;
   
    margin-top: 60px;

}
.buttom{
    font-size: 5px;
}
ul li {
    padding-top: 15px;
    font-size: 16px;
    list-style: none;
    
    
}
 a{
    color:  rgba(12, 140, 233,255) ;
    text-decoration: none;
}
.third-box{
    display: flex;
    justify-content: space-between;
    padding: 80px;

    
}
.policies{
    display: flex;
}
.fourth-box{
    display: flex;
    justify-content: space-between;
}
@media( max-width: 1100px){
        body{
            width: 100%;
            background-color:rgba(11, 12, 15, 255);
            box-sizing: border-box;
        }
        .container{
            width: 100%;
            display: block;
            margin: 0;
        }
        #general-box{
        border: none;
        margin-left: 0 auto;
        padding: 30px;
         
    
            }
        #Customise-box{
            border: 1px solid;
             padding-top: 50px;
            color: white;
            display: flex;
            flex-direction: column;
            border-radius: 10px; 
            padding-right: 30px;
            padding-left: 30px;
            height: 980px;
        
        }
        .second-box{
            display: flex;
            flex-direction:column;
            margin-top: 0;
            right: 0;
            position: relative;
         
        }
        .header{
            text-align: center;
            font-size: 35px;
            color: white;
            word-spacing: 2px;
            margin-top: 50px;
            
        }
        span{
            font-family: sans-serif;
            color: white;
            font-size: 18px;
            font-weight: 400;
            display: flex;
            justify-content: start;
            margin-bottom: 20px;
        }
        .selector select{
            border: 1px solid white;
            background-color: transparent;
            position: relative;
            color: white;
            height: 40px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 2px;
            font-size: 13px;
            font-family: sans-serif;
             font-weight: 400;
             display: flex;
             align-items: center;
             margin-bottom: 20px;

        
        }
        
        .selector{
            position: relative;
        }
    
        button{
            width: 100%;
            height: 40px;
            margin-top: 80px;
            border-radius: 5px;
            background-color: rgba(12, 140, 233,255);
            color: white;
            text-align: center;
            cursor: pointer;
        }
            .selector::after{
                position: absolute;
                top: 20px;
                right: 20px;
                transform: translateY(-50);
                cursor: pointer;
                pointer-events: none;
                
            }
            
    
        footer{
        background-color: rgba(5,5,6,255);
         color: rgba(9, 88, 145, 255);
         margin-top: 100px;
            
        }

}