@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

:root {
	/* PRIMARY COLORS */
	--BLACK-50: #e7e7e7;
	--BLACK-100: #b3b4b5;
	--BLACK-200: #8f8f91;
	--BLACK-300: #5c5c5e;
	--BLACK-400: #3c3d3f;
	--BLACK-500: #0b0c0f;
	--BLACK-600: #0a0b0e;
	--BLACK-700: #08090b;
	--BLACK-800: #060708;
	--BLACK-900: #050506;

	/* SECONDARY COLORS */
	--S-LIGHT: #fff;
	--S-LIGHT-HOVER: #fff;
	--S-LIGHT-ACTIVE: #fff;
	--S-NORMAL: #fff;
	--S-NORMAL-HOVER: #e6e6e6;
	--S-NORMAL-ACTIVE: #ccc;
	--S-DARK: #bfbfbf;
	--S-DARK-HOVER: #999;
	--S-DARK-ACTIVE: #737373;
	--S-DARKER: #595959;

	/* ACCENT COLORS */
	--A-LIGHT: #e7f4fd;
	--A-LIGHT-HOVER: #dbeefc;
	--A-LIGHT-ACTIVE: #b4dbf8;
	--A-NORMAL: #0c8ce9;
	--A-NORMAL-HOVER: #0b7ed2;
	--A-NORMAL-ACTIVE: #0a70ba;
	--A-DARK: #0969af;
	--A-DARK-HOVER: #07548c;
	--A-DARK-ACTIVE: #053f69;
	--A-DARKER: #043152;

	/* ERROR COLORS */
	--E-LIGHT: #f9ece8;
	--E-LIGHT-HOVER: #f7e2dd;
	--E-LIGHT-ACTIVE: #eec3b9;
	--E-NORMAL: #c73f1d;
	--E-NORMAL-HOVER: #b3391a;
	--E-NORMAL-ACTIVE: #9f3217;
	--E-DARK: #952f16;
	--E-DARK-HOVER: #772611;
	--E-DARK-ACTIVE: #5a1c0d;
	--E-DARKER: #46160a;

	/* SUCCESS COLORS */
	--SS-LIGHT: #edf8ec;
	--SS-LIGHT-HOVER: #e4f4e3;
	--SS-LIGHT-ACTIVE: #c7e8c5;
	--SS-NORMAL: #4bb543;
	--SS-NORMAL-HOVER: #44a33c;
	--SS-NORMAL-ACTIVE: #3c9136;
	--SS-DARK: #388832;
	--SS-DARK-HOVER: #2d6d28;
	--SS-DARK-ACTIVE: #22511e;
	--SS-DARKER: #1e3f17;

	/* WARNING COLORS */
	--W-LIGHT: #fffae6;
	--W-LIGHT-HOVER: #fff7d9;
	--W-LIGHT-ACTIVE: #ffefb0;
	--W-NORMAL: #ffcc00;
	--W-NORMAL-HOVER: #e6b800;
	--W-NORMAL-ACTIVE: #cca300;
	--W-DARK: #bf9900;
	--W-DARK-HOVER: #997a00;
	--W-DARK-ACTIVE: #735c00;
	--W-DARKER: #594700;
}
img {
	display: block;
}
/* NAVIGATION */
header {
	height: 100px;
	width: 100vw;
	background-color: var(--BLACK-500);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 75px;
}

.sign {
	display: flex;
	gap: 30px;
}
.sign button {
	width: 100px;
	height: 44px;
	border-radius: 4px;
	border: none;
	font-family: "Raleway", sans-serif;
	font-weight: bolder;
}
.sign .signup {
	background-color: var(--BLACK-500);
	color: var(--A-LIGHT);
	box-shadow: 0px 0px 10px var(--A-NORMAL);
}
.sign .signin {
	background-color: var(--A-NORMAL);
	color: #fff;
	box-shadow: 0px 0px 10px var(--A-NORMAL);
}

/* MAIN */
.intro {
	height: 839px;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 80px;
	background-image: url("../assets/background/hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: var(--SS-LIGHT);
}

.intro .intro-container {
	width: 699px;
	display: flex;
	flex-direction: column;

	/* This is not necessary */
	/* position: absolute;
    top: 50%;
    left: 10%; */
	gap: 1rem;
}

.intro .intro-container .intro-text1 h1 {
	/* This is not the font weight given */
	/* font-weight: 350; */
	font-family: Libre Baskerville sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 3px;
}

.intro .intro-container .intro-text2 p {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
}
.intro .intro-container button {
	width: 40%;
	height: 50px;
	border-radius: 4px;
	border: none;
	margin-top: 20px;
	color: #fff;
	font-weight: bolder;
	font-size: 16px;
	background-color: var(--A-NORMAL);
	font-family: "Raleway", sans-serif;
}
.hero {
	color: #fff;
	background-color: #121212;
	display: flex;
	height: 670px;
	justify-content: center;
	padding: 70px 100px;
}
.intro2 {
	display: flex;
	flex-direction: column;
	width: 70%;
	gap: 3rem;
}
.intro2 .intro2-container1 {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
}
.intro2 .intro2-container1 p {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
}
.intro2 .intro2-container1 .payments {
	display: flex;
	justify-content: space-around;
	gap: 3rem;
}
.intro2 .intro2-container2 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}
.intro2 .intro2-container2 .first {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	size: 32px;
}
.intro2 .intro2-container2 .light {
	font-family: "Raleway", sans-serif;
	size: 16px;
	color: var(--S-DARK);
}
.intro2 .intro2-container2 .p-btn {
	display: flex;
	justify-content: center;
}
.intro2 .intro2-container2 .p-btn button {
	width: 250px;
	margin-top: 1rem;
	height: 50px;
	border-radius: 4px;
	border: 1px solid grey;
	color: var(--A-LIGHT);
	background-color: inherit;
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
	font-family: "Raleway", sans-serif;
}

.scroll {
	display: flex;
	background-color: #121212;
	height: 437px;
	width: 100%;
	gap: 2rem;
	/* justify-content: space-between; */
}
.scroll .a {
	flex: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.pictures1 {
	background-image: url("../assets/scroll/theUpside.jpeg");
}
.pictures2 {
	background-image: url("../assets/scroll/MissHokusai.png");
}
.pictures3 {
	background-image: url("../assets/scroll/TheKingsDaughter.png");
}
.pictures4 {
	background-image: url("../assets/scroll/Avengers.png");
}
.pictures5 {
	background-image: url("../assets/scroll/After.jpeg");
}

/* Faq */
.faq {
	/* height: 839px; */
	padding: 96px;
	background-color: var(--BLACK-600);
	display: flex;
	justify-content: center;
}

.faq .container {
	max-width: 951px;
	width: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
}

.faq .question h1 {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	color: #fff;
	text-align: start;
}

.faq .q {
	cursor: pointer;
	height: 98px;
	border: 2px solid white;
	border-radius: 16px;
	padding: 24px;
	font-family: "Raleway", sans-serif;
	font-size: 32px;
	font-weight: 400;
	color: #fff;
	/* margin-bottom: 16px; */
	transition: background-color 0.3s ease;
}

.faq .q:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.faq .a {
	display: none;
	padding: 0;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 16px;
	max-height: 0;
	overflow: hidden;
	transform: translateY(-13px);
	font-family: "Raleway", sans-serif;
	/* margin-bottom: 16px; */
	color: #fff;
	transition: max-height 0.3s ease, padding 0.3s ease;

	/* For the write up */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.faq .a.show {
	display: block;
	max-height: 200px; /* Adjust as needed */
	padding: 24px;
}

.explore {
	height: 455px;
	/* opacity: 0.24; */
	background: linear-gradient(
			360deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.7) 100%
		),
		url("../assets/background/get-cineVerse.png"), lightgray 50% / cover no-repeat;
	/* background-image: url(images/Rectangle\ 400.png); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	/* color: #FFF; */
}

.explore .container {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.explore .container .text1 h1 {
	font-family: "Libre Baskerville", serif;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}
.explore .container .text2 p {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: 400;
	line-height: 19px;
}
.blue {
	color: var(--A-NORMAL);
	font-weight: bolder;
}
footer {
	height: 387px;
	background-color: var(--BLACK-900);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	color: white;
}

footer .footer-container1 {
	display: flex;
	gap: 1rem;
}
footer .footer-container1 .heading-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}
footer .ft {
	padding: 10px 0;
}
footer .heading {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
}
.foot {
	width: 80%;
}
footer .footer-container1 .last {
	flex: 1.5;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
footer .footer-container1 .last .socials {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.socialmediaicon {
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	border-radius: 8px;
	background-color: #262626;
	gap: 10px;
	align-items: center;
}
.footer-container2 {
	padding-top: 30px;
	border-top: 1px solid var(--BLACK-300);
	display: flex;
	justify-content: space-between;
}
.footer-container2 .bottomleft {
	display: flex;
	justify-content: space-between;
}

.footer-container2 .bottomleft .items {
	padding: 0px 30px;
}
.footer-container2 .bottom {
	font-weight: 500;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--A-NORMAL);
}
.footer-container2 .bottomleft .two {
	border-right: 1px solid var(--BLACK-300);
	border-left: 1px solid var(--BLACK-300);
}
footer a,
a:visited,
a:hover,
a:active {
	font-weight: 500;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--A-NORMAL);
	text-decoration: none;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
	header {
		height: 36px;
		width: 100vw;
		padding: 0 20px;
	}
	header img {
		width: 82px;
		height: 15px;
	}

	.sign {
		display: flex;
		gap: 15px;
	}
	.sign button {
		width: 75px;
		height: 19px;
		font-size: 10px;
		font-weight: 400;
		box-shadow: none;
		border-radius: none;
	}
	.sign .signup {
		box-shadow: 0px 0px 10px var(--A-NORMAL);
	}
	.intro {
		height: 386px;
		width: 100%;
		padding-left: 80px;
	}
	.intro .intro-container {
		width: 65%;
		top: 20%;
		left: 10%;
		gap: 0.5rem;
	}
	.intro .intro-container .intro-text1 h1 {
		font-size: 20px;
		font-weight: 700;
	}
	.intro .intro-container .intro-text2 p {
		font-size: 16px;
	}
	.intro .intro-container button {
		width: 96px;
		height: 21px;
		font-size: 12px;
	}
	.hero {
		height: 480px;
		padding: 24px 24px;
		background-color: var(--BLACK-500);
	}
	.intro2 {
		width: 90%;
		gap: 1rem;
	}
	.intro2 .intro2-container1 {
		gap: 1rem;
	}
	.intro2 .intro2-container1 p {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}
	.intro2 .intro2-container1 .payments {
		gap: 1rem;
	}
	.intro2 .intro2-container1 .payments img {
		height: 40px;
		width: 40px;
	}
	.intro2 .intro2-container2 .first h1 {
		font-size: 20px;
		line-height: 24px;
	}
	.intro2 .intro2-container2 .light {
		size: 14px;
		line-height: 16.5px;
	}
	.intro2 .intro2-container2 .p-btn button {
		width: 79px;
		height: 18px;
		font-size: 12px;
		line-height: 14px;
		font-weight: 600;
	}

	.scroll {
		height: 150px;
		width: 100%;
		justify-content: flex-start;
		gap: 0.5rem;
	}
	.scroll .a {
		height: 150px;
		width: 220px;
	}
	.faq {
		height: 380px;
		padding: 20px 24px;
		gap: 1rem;
	}
	.faq .question h1 {
		font-size: 16px;
		line-height: 20px;
	}
	.faq .q {
		height: 44px;
		border: 1px solid white;
		border-radius: 4px;
		padding: 12px;
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
	}

	.explore {
		height: 370px;
		padding: 15px;
	}
	.explore .container {
		width: 100%;
		gap: 1rem;
	}
	.explore .container .text1 h1 {
		font-size: 20px;
		line-height: 25px;
		font-weight: 700;
	}
	footer {
		padding: 20px;
		height: 535px;
		gap: 1.5rem;
	}
	footer img {
		width: 44px;
		height: 44px;
	}
	footer .footer-container1 {
		width: 100%;
		height: 400px;
		display: grid;
		gap: none;
		grid-template-columns: repeat(2, 1fr);
	}
	footer .heading h2 {
		font-size: 16px;
		line-height: 24px;
	}
	footer .ft {
		padding: 5px;
	}
	/*last*/

	footer .footer-container1 .last {
		flex: 1.5;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.footer-container2 {
		display: flex;
		width: 100%;
		height: 82px;
		flex-direction: column;
		padding: 10px;
		justify-content: unset;
	}

	.footer-container2 .bottomleft .items {
		padding: 0px 10px;
	}
	.footer-container2 .bottom {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		padding-bottom: 20px;
	}

	footer a,
	a:visited,
	a:hover,
	a:active {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
}
