
:root {
    /* PRIMARY COLORS */
    --BLACK-50: #e7e7e7;
    --BLACK-100:#b3b4b5;
    --BLACK-200:#8f8f91;
    --BLACK-300:#5c5c5e;
    --BLACK-400:#3c3d3f;
    --BLACK-500:#0b0c0f;
    --BLACK-600:#0a0b0e; 
    --BLACK-700:#08090b;
    --BLACK-800:#060708;
    --BLACK-900: #050506;
    
    /* SECONDARY COLORS */
    --S-LIGHT: #FFF;
    --S-LIGHT-HOVER : #FFF;
    --S-LIGHT-ACTIVE: #FFF;
    --S-NORMAL: #FFF;
    --S-NORMAL-HOVER: #E6E6E6;
    --S-NORMAL-ACTIVE: #CCC;
    --S-DARK: #BFBFBF;
    --S-DARK-HOVER: #999;
    --S-DARK-ACTIVE: #737373;
    --S-DARKER: #595959;

    
    /* ACCENT COLORS */
    --A-LIGHT: #E7F4FD;
    --A-LIGHT-HOVER : #DBEEFC;
    --A-LIGHT-ACTIVE: #B4DBF8;
    --A-NORMAL: #0C8CE9;
    --A-NORMAL-HOVER: #0B7ED2;
    --A-NORMAL-ACTIVE: #0A70BA;
    --A-DARK: #0969AF;
    --A-DARK-HOVER: #07548C;
    --A-DARK-ACTIVE: #053F69;
    --A-DARKER: #043152;

    /* ERROR COLORS */
    --E-LIGHT: #F9ECE8;
    --E-LIGHT-HOVER : #F7E2DD;
    --E-LIGHT-ACTIVE: #EEC3B9;
    --E-NORMAL: #C73F1D;
    --E-NORMAL-HOVER: #B3391A;
    --E-NORMAL-ACTIVE: #9F3217;
    --E-DARK: #952F16;
    --E-DARK-HOVER: #772611;
    --E-DARK-ACTIVE: #5A1C0D;
    --E-DARKER: #46160A;

    /* SUCCESS COLORS */
    --SS-LIGHT: #EDF8EC;
    --SS-LIGHT-HOVER : #E4F4E3;
    --SS-LIGHT-ACTIVE: #C7E8C5;
    --SS-NORMAL: #4BB543;
    --SS-NORMAL-HOVER: #44A33C;
    --SS-NORMAL-ACTIVE: #3C9136;
    --SS-DARK: #388832;
    --SS-DARK-HOVER: #2D6D28;
    --SS-DARK-ACTIVE: #22511E;
    --SS-DARKER: #1E3F17;

    /* WARNING COLORS */
    --W-LIGHT: #FFFAE6;
    --W-LIGHT-HOVER : #FFF7D9;
    --W-LIGHT-ACTIVE: #FFEFB0;
    --W-NORMAL: #FFCC00;
    --W-NORMAL-HOVER: #E6B800;
    --W-NORMAL-ACTIVE: #CCA300;
    --W-DARK: #BF9900;
    --W-DARK-HOVER: #997A00;
    --W-DARK-ACTIVE: #735C00;
    --W-DARKER: #594700;

}