@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* PRIMARY COLORS */
    --BLACK-50: #e7e7e7;
    --BLACK-100:#b3b4b5;
    --BLACK-200:#8f8f91;
    --BLACK-300:#5c5c5e;
    --BLACK-400:#3c3d3f;
    --BLACK-500:#0b0c0f;
    --BLACK-600:#0a0b0e; 
    --BLACK-700:#08090b;
    --BLACK-800:#060708;
    --BLACK-900: #050506;
    
    /* SECONDARY COLORS */
    --S-LIGHT: #FFF;
    --S-LIGHT-HOVER : #FFF;
    --S-LIGHT-ACTIVE: #FFF;
    --S-NORMAL: #FFF;
    --S-NORMAL-HOVER: #E6E6E6;
    --S-NORMAL-ACTIVE: #CCC;
    --S-DARK: #BFBFBF;
    --S-DARK-HOVER: #999;
    --S-DARK-ACTIVE: #737373;
    --S-DARKER: #595959;

    
    /* ACCENT COLORS */
    --A-LIGHT: #E7F4FD;
    --A-LIGHT-HOVER : #DBEEFC;
    --A-LIGHT-ACTIVE: #B4DBF8;
    --A-NORMAL: #0C8CE9;
    --A-NORMAL-HOVER: #0B7ED2;
    --A-NORMAL-ACTIVE: #0A70BA;
    --A-DARK: #0969AF;
    --A-DARK-HOVER: #07548C;
    --A-DARK-ACTIVE: #053F69;
    --A-DARKER: #043152;

    /* ERROR COLORS */
    --E-LIGHT: #F9ECE8;
    --E-LIGHT-HOVER : #F7E2DD;
    --E-LIGHT-ACTIVE: #EEC3B9;
    --E-NORMAL: #C73F1D;
    --E-NORMAL-HOVER: #B3391A;
    --E-NORMAL-ACTIVE: #9F3217;
    --E-DARK: #952F16;
    --E-DARK-HOVER: #772611;
    --E-DARK-ACTIVE: #5A1C0D;
    --E-DARKER: #46160A;

    /* SUCCESS COLORS */
    --SS-LIGHT: #EDF8EC;
    --SS-LIGHT-HOVER : #E4F4E3;
    --SS-LIGHT-ACTIVE: #C7E8C5;
    --SS-NORMAL: #4BB543;
    --SS-NORMAL-HOVER: #44A33C;
    --SS-NORMAL-ACTIVE: #3C9136;
    --SS-DARK: #388832;
    --SS-DARK-HOVER: #2D6D28;
    --SS-DARK-ACTIVE: #22511E;
    --SS-DARKER: #1E3F17;

    /* WARNING COLORS */
    --W-LIGHT: #FFFAE6;
    --W-LIGHT-HOVER : #FFF7D9;
    --W-LIGHT-ACTIVE: #FFEFB0;
    --W-NORMAL: #FFCC00;
    --W-NORMAL-HOVER: #E6B800;
    --W-NORMAL-ACTIVE: #CCA300;
    --W-DARK: #BF9900;
    --W-DARK-HOVER: #997A00;
    --W-DARK-ACTIVE: #735C00;
    --W-DARKER: #594700;

}
img {
    display: block;
}
/* NAVIGATION */
header {
    height: 100px;
    width: 100vw;
    background-color: var(--BLACK-500);
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 75px;
}
.sign {
    display: flex;
    gap: 30px;
}
 .sign button {
    width: 183px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
 }
 .sign .signup {
    background-color: var(--BLACK-500);
    color: var(--A-LIGHT);
 }
 .sign .signin {
    background-color: var(--A-NORMAL);
    border: none;
    color: #FFF;
 }
 /* MAIN */

 .intro {
    height: 839px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--SS-LIGHT);
 }
 .intro .intro-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 10%;
    gap: 1rem;
 }
 .intro .intro-container .intro-text1 h1{
    font-weight: 350;
 }
 .intro .intro-container .intro-text2 p{
   font-family: 'Raleway', sans-serif;
    font-size: 16px;
 }
 .intro .intro-container button {
    width: 40%;
    height: 50px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    color: #FFF;
    background-color: var(--A-NORMAL);
    font-family: 'Raleway', sans-serif;
 }
 .hero {
   color: #FFF;
   background-color: #121212;
   display: flex;
   height: 670px;
   justify-content: center;
   padding: 70px 100px;
 }
 .intro2 {
   display: flex;
   flex-direction: column;
   width: 70%;
   gap: 3rem;
 }
 .intro2 .intro2-container1 {
   display: flex ;
   flex-direction: column;
   gap: 3rem;
   align-items: center;
 }
 .intro2 .intro2-container1 p{
   font-family: 'Libre Baskerville', serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
 }
 .intro2 .intro2-container1 .payments {
   display: flex;
   justify-content: space-around;
   gap: 3rem;
 }
 .intro2 .intro2-container2 {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   text-align: center;
 }
 .intro2 .intro2-container2 .first {
   font-family: 'Libre Baskerville', serif;
   font-weight: 700;
   size: 32px;
 }
 .intro2 .intro2-container2 .light {
   font-family: 'Raleway', sans-serif;
   size: 16px;
   color: var(--S-DARK);
 }
 .intro2 .intro2-container2 .p-btn {
   display: flex;
   justify-content: center;
 }
 .intro2 .intro2-container2 .p-btn button {
   width: 250px;
   margin-top: 1rem;
   height: 50px;
   border-radius: 4px;
   border: 1px solid grey;
   color: var(--A-LIGHT);
   background-color: inherit;
   font-size: 16px;
   line-height: 19px;
   font-weight: 700;
   font-family: 'Raleway', sans-serif;
 }