
:root {
    /* PRIMARY COLORS */
    --BLACK-50: #e7e7e7;
    --BLACK-100: #b3b4b5;
    --BLACK-200: #8f8f91;
    --BLACK-300: #5c5c5e;
    --BLACK-400: #3c3d3f;
    --BLACK-500:#0b0c0f;
    --BLACK-600:#0a0b0e; 
    --BLACK-700:#08090b;
    --BLACK-800:#060708;
    --BLACK-900: #050506;

}